<% include partials/header/header-landing %>

  <header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
      <h1 class="display-3"><strong>Welcome To YelpCamp!</strong></h1>
      <p class="lead pb-4"><strong>Deliver the best user experience campgrounds with our carefully observation and ratings</strong></p>
      <!-- <a><a href="#" class="btn btn-primary btn-lg red-button" role="button">Learn More</a></p> -->
    </div>
  </header>

  <section id="services" class="container mb-5">
      <%if(randomCampgrounds.length > 0) {%>
        <h2 class="display-4 text-center mt-5 mb-3">Campgrounds</h2>
        <div class="row text-center">
          <%randomCampgrounds.forEach(randomCampground => {%>
            <%if(randomCampgrounds.length === 2) {%>
              <div class="col-md-6 mb-4">
            <%} else {%>
              <div class="col-md-4 mb-4">
            <%}%>
            
            <div class="card h-100">
              <img id="campground-image" class="card-img-top" src="<%= randomCampground.image.url%>" alt="Design">
              <div class="card-body">
                <h4 class="card-title"><%= randomCampground.name %></h4>
                <p><%= randomCampground.description.substr(0, 100) + "..." %></p>
                <%if(randomCampground.rating === 0) {%>
                  <p class="card-text"><em>No Reviews yet</em></p>
                <%} else {%>
                  <span class="fa fa-star star-checked"></span>
                  <span class="fa fa-star <% if (randomCampground.rating > 1.5) { %> star-checked <% } %>"></span>
                  <span class="fa fa-star <% if (randomCampground.rating > 2.5) { %> star-checked <% } %>"></span>
                  <span class="fa fa-star <% if (randomCampground.rating > 3.5) { %> star-checked <% } %>"></span>
                  <span class="fa fa-star <% if (randomCampground.rating > 4.5) { %> star-checked <% } %>"></span>
                  <span>(<%= randomCampground.reviews.length %>)</span>
                <%}%>
              </div>
              <div class="card-footer py-4">
                <a href="/campgrounds/<%= randomCampground.slug %>" class="btn btn-secondary">More Details &raquo;</a>
              </div>
            </div>
        </div>
          <%})%>
    </div>
    <div class="d-flex flex-row-reverse">
        <a href="/campgrounds/page/1" class="btn btn-info" role="button">See More</a>      
    </div>
      <%} else {%>
        <h2>Please add you favorite campgrounds</h2>
      <%}%>
  </section>

<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                
            </div>
        </div>
    </div>
</footer>

<% include partials/footer/footer-validation %>